* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.music-grid {
  padding-inline: 2rem;
}

.music-grid__body {
  position: relative;
}

.music-grid__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music-grid__header a {
  text-decoration: none;
  color: #F6BF01;
}

.music-grid__list {
  --grid-columns: 3;
  --grid-column-gap: 20px;
  --gap-numbers: calc(var(--grid-columns) - 1);
  display: grid;
  gap: var(--grid-column-gap);
  grid-auto-columns: calc((100% - var(--gap-numbers) * var(--grid-column-gap)) / var(--grid-columns));
  grid-auto-flow: column;
  list-style: none;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefbox */
}

.music-grid__list::-webkit-scrollbar {
  display: none;
}

.music-grid__list-item {
  min-height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.music-grid__arrow {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  background: transparent;
  cursor: pointer;
  position: absolute;
  border: 2px solid currentColor;
  border-radius: 1.5rem;
  top: calc(50% - 0.75rem);
}

.music-grid__arrow--previous {
  left: -2rem;
}

.music-grid__arrow--next {
  right: -2rem;
}
